.card-container {
    perspective: 1000px;
    /* Gives a 3D perspective to the flipping effect */
    margin-bottom: 0px;
}

.card {
    width: 300px;
    height: 230px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card .card-side {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    backface-visibility: hidden;
    /* Hides the back of the card when it's flipped */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card .front {
    background: rgba(255, 255, 255, 0.062);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    backdrop-filter: blur(8px);
}

.card .back {
    background: rgba(255, 255, 255, 0.062);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    backdrop-filter: blur(8px);
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-container {
    margin-top: -40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-type-box {
    max-width: 95%;
    height: auto;
    margin-top: 90px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* background-color: #1c2b3f; */
    background-color: #223d53;
    box-shadow: 2px 2px 4px 2px rgb(116, 116, 116), 0px 12px 12px #6d6d6d73;
    border: 6px solid #055f7a7c;
}

.woman-icon {
    max-width: 45%;
    border-radius: 70%;
    border: 8px solid #223d53;
    margin-top: -70px;
    box-shadow: inset 0px 1px 2px 0px rgb(116, 116, 116), 0 6px 8px rgba(0, 0, 0, 0.45);
    border-image: linear-gradient(#597da0);
}

.card-type {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 24px;
    /* color: #f0f0f0; */
    color: white;
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
    line-height: 1;
}

.card-type-paragraph {
    font-size: 18px;
    margin-bottom: 22px;
    /* color: #f0f0f0; */
    color: #ffffff;
    text-align: center;
    /* font-weight: bolder; */
    font-family: 'balanos', sans-serif;
    line-height: 1;
}

/* .eighth-title {
    margin-top: 0px;
    margin-bottom: 80px;
    font-size: 40px;
    text-align: center;
    font-family: 'Kanit';
    color: black;
    line-height: 0.9;
}

.eight-text {
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Belanos';
    color: white;
    line-height: 1.2;
} */

@media (min-width: 501px) {
    .card-type-box {
        max-width: 70%;
        height: auto;
        margin-top: 90px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        /* background-color: #1c2b3f; */
        background-color: #223d53;
        box-shadow: 2px 2px 4px 2px rgb(116, 116, 116), 0px 12px 12px #6d6d6d73;
        border: 6px solid #055f7a7c;
    }

    .woman-icon {
        max-width: 35%;
        border-radius: 70%;
        border: 8px solid #223d53;
        margin-top: -70px;
        box-shadow: inset 0px 1px 2px 0px rgb(116, 116, 116), 0 6px 8px rgba(0, 0, 0, 0.45);
        border-image: linear-gradient(#597da0);
    }
}

@media (min-width: 1100px) {
    .card-type-box {
        max-width: 70%;
        height: auto;
        margin-top: 90px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        /* background-color: #1c2b3f; */
        background-color: #223d53;
        box-shadow: 2px 2px 4px 2px rgb(116, 116, 116), 0px 12px 12px #6d6d6d73;
        border: 6px solid #055f7a7c;
    }

    .woman-icon {
        max-width: 35%;
        border-radius: 70%;
        border: 8px solid #223d53;
        margin-top: -70px;
        box-shadow: inset 0px 1px 2px 0px rgb(116, 116, 116), 0 6px 8px rgba(0, 0, 0, 0.45);
        border-image: linear-gradient(#597da0);
    }
}