.video-container {
    position: relative;
    width: 100%;
}

.progress-sub-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* audio {
    width: 100%;
} */

#progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    /* padding-left: 0.5px; */
    width: 100%;
    background-color: transparent;
    /* Adjust background color as needed */
    height: 8px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: #4b8fd4;
    transition: width 0.2s ease;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
}